cffi>=2.1.1
click>=8.0.0
loguru>=0.7.0
pam>=0.2.0
pillow>=12.3.0
psutil>=5.9.0
pycairo>=1.20.0
pycparser>=2.20
PyGObject>=3.58.0
python-pam>=2.0.0
RapidFuzz>=3.0.0
setproctitle>=1.3.7
six>=1.16.0
thefuzz>=0.20.0
