spawn-at-startup "bash" "-c" "systemctl --user is-active --quiet agility-shell.service || exec agility-shell"

layout {
    background-color "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

binds {
    Mod+Space   hotkey-overlay-title="Open Launcher" { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('Launcher')"; }
    Mod+D       hotkey-overlay-title="Open Dash" { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('Dash')"; }
    Mod+Shift+W hotkey-overlay-title="Wallpaper Gallery" { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('WallpaperPicker')"; }
    Alt+C       hotkey-overlay-title="Wallpaper Switcher" { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('WallpaperDrawer')"; }
    Mod+Alt+X   hotkey-overlay-title="Random Wallpaper" { spawn "fabric-cli" "exec" "agility-shell" "wallpaper_service.random_wallpaper()"; }
    Alt+X       hotkey-overlay-title="Random Wallpaper" { spawn "fabric-cli" "exec" "agility-shell" "wallpaper_service.random_wallpaper()"; }
}
